*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: gray;
  font-family: sans-serif;
}

.title{
  text-align: center;
}

.login-form{
  display: grid;
  grid-template-columns: .1fr repeat(3, 1fr) .1fr;
  grid-template-rows: .1fr 1fr .1fr 1fr .1fr 1fr .1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  width: 300px;
  height: 400px;
  margin: 50px auto;
  background-color: red;
}

.login-form__wrapper-input,
.login-form__wrapper-button {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form__wrapper-input:nth-child(1){
  grid-area: 2 / 3 / 3 / 4;
}

.login-form__wrapper-input:nth-child(2){
  grid-area: 4 / 3 / 5 / 4;
}

.login-form__input{
  width: 95%;
  background-color: transparent;
}

.login-form__input:focus{
  border-color: red;
  outline-color: red;
  color: red;
}

.login-form__input--login{
  color: blue;
  border-color: blue;
  outline-color: blue;
}

.login-form__input--password{
  font-size: 1.1em;
}

.login-form__wrapper-button{
  grid-area: 6 / 3 / 7 / 4;
}

.login-form__button{
  background-color: transparent;
  padding: 5px 15px;
  transition: box-shadow .5s;
}

.login-form__button:hover{
  box-shadow: inset 0px 0px 100px -9px rgba(14, 32, 255, 1);
}